body {
    background-color: rgb(242, 249, 255);
}
.navbar {
    background-color: rgba(73, 148, 209, 0.788);
}
.container {
    margin-top: 4em;
}
.birthday{
    font-size: 3em;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
      
}
.line {
    border: solid rgb(21, 150, 201) 4px;
    opacity: 80%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}
.pic{
    border-radius: 10px;
    height: 300px;
}
.info{
    text-align: center;
    font-size: 1.3em;
}
.card {
    background-color: transparent;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
}
p.description{
    font-size: 1.2em;
}
.btn.a:active{
    background-color: rgba(65, 118, 161, 0.425);
}
.custombackground {
    background-color: rgba(79, 156, 219, 0.788);
}
.custombackground:hover {
    background-color: rgba(123, 191, 247, 0.788);
}
.navbar-brand{
    font-size: 2.3em;
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}

  