body {
    background-color: rgb(242, 249, 255);
}
.navbar {
    background-color: rgba(73, 148, 209, 0.788);
}
.container {
    margin-top: 4em;
}
.background {
    margin-top: 50px;
    background-color:rgba(148, 212, 238, 0.788);
    padding: 10px;
    border-radius: 10px;
  }
.birthday{
    font-size: 3em;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
      
}
h1{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
}
.line {
    border: solid rgb(21, 150, 201) 4px;
    opacity: 80%;
    margin-top: 0;
    width: 200px;
    margin-left: auto;
    margin-right: auto;

}
.pic { 
    width: 25em;
    border-radius: 10%;
    box-shadow: 0 8px 8px rgba(0,0,0,.5);
  }
.info{
    text-align: center;
    font-size: 1.3em;
}
.birthday1 {
    width: 25em;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10%;
    padding: 1em;
    box-shadow: 0 8px 8px rgba(0,0,0,.5);
  
  }
p.description{
    font-size: 1.2em;
    align-items: baseline;
}

.navbar-brand{
    font-size: 2.3em;
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}


/* CSS */
.css-button-3d--sky {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #2b6cd4;
    margin-bottom: 5px;
  }
  .css-button-3d--sky:hover {
    box-shadow: 0 3px #2b6cd4;
    border: solid 2px #2b6cd4;
    color: #3a86ff;
  }
  .css-button-3d--sky:active {
    box-shadow: 0 0 #2b6cd4;
    border: solid 2px #2b6cd4;
    top: 5px;
  }
